.headerBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #53b3cb;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.appName {
  font-size: 2rem;
  margin-left: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.wallet {
  border: thin solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 7rem;
  background-color: #fff;
  margin-right: 0.5rem;
}

.addContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addIcon {
  width: 45px;
  height: 45px;
}

.buttonIcon {
  width: 60px;
  height: 60px;
}

.dolarIcon {
  width: 20px;
  height: 20px;
}

.iconButton {
  border: none;
  background: none;
}

.button {
  height: 6rem;
  width: 15rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border: thin solid grey;
  text-align: center;
  font-weight: 500;
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.buttonGroup button {
  margin-top: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field input {
  height: 2rem;
  width: 70%;
  padding: 0.3rem 0.7rem;
}

.budgetButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.singleBudgetContainer {
  display: flex;
  justify-content: space-around;
  border: thin solid black;
  width: 90%;
  align-content: center;
}

.button-budget {
  height: 2rem;
  width: 6rem;
  border-radius: 0.8rem;
  border: thin solid black;
  text-align: center;
  font-weight: 600;
}

.budgetButtonsContainer button:hover,
.buttonGroup button:hover {
  background-color: #53b3cb;
}

.budgetListContainer {
  display: flex;
  flex-direction: column;
}

.list {
  width: 80%;
}
.list li {
  padding: 1rem;
  border-style: solid;
  border-width: 0 thin thin thin;
  display: flex;
  flex-direction: row;
}
.list li:first-child {
  border-top-width: thin;
}
